<img id="top-img" src="/assets/img/aboutUs_top_img.jpg" alt="Top background">    
<div class="idea-container">
    <h1 class="progect-idea">
            Основною ідеєю “Alfa” слугує функціонал “Щоденника” 
            та можливість перетворити його ведення у зручному форматі. 
    </h1> 
</div>
<img class="centre-img" src="/assets/img/aboutUs_centr.png" alt="Centre background">
<div>
    <img class="img-left" src="/assets/img/idea_icon.jpg" alt="Idea">
    <h3>Трішки про нас</h3>
    <div class="introduction">
        <h2>Ми студенти другого курсу, спеціальності “Комп’ютерні науки”
            Львівського національного університету імені Івана Франка
        </h2>
    </div>
    <img class="img-right" src="/assets/img/idea_icon.jpg" alt="Idea">
</div>
<div class="student first">
    <img class="photo" src="photo1.jpg" alt="First student">
    <p class="about-student">about-student1</p>
    <div class="social-network">
        <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" ></i></a>
        <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://web.telegram.org/" target="_blank"><i class="fa fa-telegram"></i></a>
    </div>
</div>
<div class="student second">
    <img class="photo" src="photo2.jpg" alt="Second student">
    <p class="about-student">about-student2</p>
    <div class="social-network">
        <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://web.telegram.org/" target="_blank"><i class="fa fa-telegram"></i></a>
    </div>
</div>
<div class="student third">
    <img class="photo" src="photo3.jpg" alt="Third student">
    <p class="about-student">about-student3</p>
    <div class="social-network">
        <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://web.telegram.org/" target="_blank"><i class="fa fa-telegram"></i></a>
    </div>
</div>
<div class="student fourth">
    <img class="photo" src="photo4.jpg" alt="Fourth student">
    <p class="about-student">about-student4</p>
    <div class="social-network">
        <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://web.telegram.org/" target="_blank"><i class="fa fa-telegram"></i></a>
    </div>
        
</div>