.hello{
  position: absolute;
  width: 276px;
  height: 44px;
  left: 650px;
  top: 260px;
  font-style: italic;
  font-size: 32px;
  line-height: 44px;
  color: #000000;
}

.log{
  position: absolute;
  width: 366px;
  height: 65.78px;
  left: 608px;
  top: 349px;
}

.pass{
  position: absolute;
  width: 366px;
  height: 71.02px;
  left: 608px;
  top: 440px;
}

.logButt{
  position: absolute;
  width: 366px;
  height: 47px;
  left: 608.45px;
  top: 549px;
  color: darkorchid;
  text-decoration: none;
}

.forgot{
  position: absolute;
  width: 342.77px;
  height: 17.8px;
  left: 618px;
  top: 628px;
}

.button{
  width: 366px;
  height: 47px;
  border-radius: 2px;
}

.registration_button{
  position: absolute;
  width: 342.77px;
  height: 17.8px;
  left: 880px;
  top: 628px;
}
