<footer>
    <div>
        <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://web.telegram.org/" target="_blank"><i class="fa fa-telegram"></i></a>
    </div>
    <div>
        <span class="footer_info" routerLink="">Про нас</span>
        <span class="footer_info" routerLink="">Політика конфіденційності</span>
        <span class="footer_info" routerLink="">Контакти</span>
    </div>
    <div>
        <p>© Alpha, 2021 р. Усі права захищено.</p>
    </div>
</footer>
