@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box
}

body{
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

/* Add padding to container elements */
.registration-container {
  padding: 20px;
  width: 400px;
  margin: 50px auto; 
  .registration-title1{
    font-family: 'Noto Sans';
    font-weight: bold;
    font-style: italic;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
  }  
  label{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 20px 10px;

  }
  input{
    font-family: 'Montserrat';
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    width: 100%;
    height: 47px; 
    border: 1px solid #000000;
    padding: 11px 14px;
    border-radius: 2px;
    margin-bottom: 24px;
  }
  .registration-radio{
    display: flex;
    justify-content: space-around;
  }
  .float-block label{
    cursor: pointer;
  }
  input[type=radio]{
    font-family: 'Montserrat';
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    height: 13px;
    cursor: pointer;
  }
  .buttons{
    display: flex;
    justify-content: space-between;
  }
  .btn{
    border-radius: 6px;
    border: none;
    width: 150px;
    height: 35px;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding: 5px;
    color: #ECF0F1;
    background: #D282F0;
    cursor: pointer;
    i{
      font-size: 20px;
    }
  }
  .btn:hover{
    background: #B866D5;
  }
  button[type=submit]{
    background: #8B63F8;
  }
  button[type=submit]:hover{
    background: #774FE5;
  }
  i.show-password{
    position: relative;
    left: 88%;
    font-weight: bold;
    bottom: 60px;
    font-size: 22px;
    cursor: pointer;
  }

  .has-danger input{
    border: 2px solid #D63031;
  }
  .has-danger input[type=radio]{
    color: red;
  }
  .form-control-feedback-email, 
  .form-control-feedback-password,
  .form-control-feedback-radio{
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 15px;
    color: #D63031;
    position: relative;
    text-align: center;
    .form-control-feedback:nth-child(2) {
      margin: 0;
    }
  }
  .form-control-feedback-email{
    top: -22px;
  }
  .form-control-feedback-password{
    top: -48px;
  }
}
@media screen and (max-width: 405px ) {
  .registration-container{
    width: auto;
  }
}
@media screen and (max-width: 360px ){
  .registration-radio{
    justify-content: center;
    flex-direction: column;
    .float-block{
      text-align: center;
    }
  }
  .buttons{
    flex-direction: column-reverse;
    .btn{
      width: 100%;
      margin-bottom: 10px;
    }
  }
}


