<form class="registration-form">
  <div class="registration-container">
    <h1 class="registration-title1">Вас ще немає в Alpha?</h1>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Ваш Email" name="email" required>
    
    <label for="psw"><b>Пароль</b></label>
    <input type="password" placeholder="Ваш пароль" name="psw" required>

            <!-- <label for="email"><b>Phone Number</b></label>
      <br>
     <select name="phoneCode" required>
      <option selected hidden value="">Code</option>
      <option value="66">+98</option>
      <option value="66">+99</option>
      <option value="66">+90</option>
      <option value="66">+66</option>
     </select>
     <input type="phone" name="phone" placeholder="812345678" required> -->

    <div class="registration-radio">
      
        <input type="radio" name="student" checked><label for="student">Ви учень</label>
            
        <input type="radio" name="teacher" ><label for="teacher">Ви вчитель</label>
      
    </div>
    
    <label for="surname"><b>Прізвище</b></label>
    <input type="text" placeholder="Ваше прізвище" name="surname" required>
    
    <label for="user_name"><b>Ім'я</b></label>
    <input type="text" placeholder="Як вас звати?" name="user_name" required>

    <label for="fathers_name"><b>По-батькові</b></label>
    <input type="text" placeholder="Олексійович" name="fathers_name" required>
    
    <label for="bdate"><b>Дата народження</b></label>
    <input type="date" name="bdate" required>


    <div class="buttons">
      <button class="btn">На головну <i class="fa fa-home"></i></button>
      <button type="submit" class="btn">Готово <i class="fa fa-check"></i></button>
    </div>
  </div>
</form>
