<div id=background>
    <div id=topbox>
        <div class=lines id=firstline></div>
        <h1>Політика конфіденційності</h1>
        <div class=lines id=secondline></div>
    </div>
    
    <h3>Дата набрання чинності: 29-03-2021</h3>
    <h2 class=text style="top:180px;">Ваша конфіденційність важлива для нас</h2>

    <div class=text style="top:240px;">
        Політика Alfa поважає вашу конфіденційність щодо будь-якої інформації, яку ми можемо збирати під час роботи на нашому 
        веб-сайті. Ця Політика конфіденційності застосовується до alfa.com.ua (далі - "ми", "ми" або "alfa.com.ua"). Ми поважаємо вашу конфіденційність і прагнемо захистити особисту інформацію, яку ви можете нам надати через Веб-сайт. 
        Ми прийняли цю політику конфіденційності ("Політика конфіденційності"), щоб пояснити, яку інформацію можна збирати на
        нашому веб-сайті, як ми використовуємо цю інформацію та за яких обставин ми можемо розголошувати інформацію третім особам. Ця Політика конфіденційності застосовується лише до інформації, яку ми збираємо через Веб-сайт, і не 
        поширюється на нашу колекцію інформації з інших джерел.Ця Політика конфіденційності, разом із Умовами надання послуг, розміщеними на нашому Веб-сайті, визначають 
        загальні правила та політику, що регулюють використання вами нашого Веб-сайту. Залежно від вашої діяльності під час відвідування нашого веб-сайту, вам може знадобитися погодитися з додатковими умовами обслуговування.
    </div>
    <h2 class=text style="top: 470px;">1. Особисто-ідентифікаційна інформація</h2>
    <div class=text style="top: 540px;"> 
        Деякі відвідувачі веб-сайтів Alfa вирішують взаємодіяти з Alfa такими способами, які вимагають від Alfa збору 
        особистої інформації. Кількість та тип інформації, яку збирає Alfa, залежить від характеру взаємодії. Наприклад, 
        ми просимо відвідувачів, які залишають коментарі на https://alfa.com.ua, вказати ім’я користувача та електронну адресу.
    </div>
    <h2 class=text style="top: 620px;">2. Безпека</h2>
    <div class=text style="top: 690px;">
        Безпека вашої Персональної інформації є важливою для нас, але пам’ятайте, що жоден спосіб передачі через Інтернет 
        а спосіб електронного зберігання не є на 100% безпечними. Хоча ми прагнемо використовувати комерційно прийнятні 
        засоби для захисту вашої Персональної інформації, ми не можемо гарантувати її абсолютну безпеку.
    </div>
    <h2 class=text style="top: 770px;">3. Захист певної особистої інформації</h2>
    <div class=text style="top: 840px;">
        Alfa розкриває потенційно особисту ідентифікаційну інформацію лише тим своїм співробітникам, підрядникам та 
        афілійованим організаціям, які (i) повинні знати цю інформацію, щоб обробити її від імені Alfa або надати послуги,
        доступні на веб-сайті Alfa, та ( ii) які погодились не розголошувати це іншим. Деякі з цих працівників, підрядників
        та дочірніх організацій можуть знаходитися за межами вашої країни проживання; використовуючи веб-сайт Alfa, ви даєте 
        згоду на передачу їм такої інформації. Alfa не буде здавати в оренду або продавати кому-небудь потенційно особисту 
        інформацію та особисту інформацію. Окрім своїх працівників, підрядників та пов'язаних організацій, як описано вище,
        Якщо ви є зареєстрованим користувачем https://alfa.com.ua і вказали свою адресу електронної пошти, Alfa може час 
        від часу надсилати вам електронний лист, щоб повідомити про нові функції, отримати ваші відгуки або просто 
        тримати вас в курсі того, що відбувається з Alfa та нашими продуктами. Ми в основному використовуємо наш блог для передачі такого типу інформації, тому ми сподіваємось звести цей тип електронної пошти до мінімуму. Якщо ви 
        надішлете нам запит (наприклад, електронною поштою підтримки або за допомогою одного з наших механізмів зворотного 
        зв'язку), ми залишаємо за собою право опублікувати його, щоб допомогти нам роз'яснити або відповісти на ваш запит або допомогти нам підтримати інших користувачів. Alfa вживає всіх розумно необхідних заходів для захисту від 
        несанкціонованого доступу, використання, зміни або знищення інформації, що потенційно може ідентифікувати та ідентифікувати особу.

    </div>
    <h2 class=text style="top: 1165px;">4. Cookie</h2>
    <div class=text style="top: 1240px;">
        Щоб збагатити та вдосконалити ваш досвід роботи в Інтернеті, Alfa використовує "файли cookie", подібні технології 
        та послуги, що надаються іншими, для відображення персоналізованого вмісту, відповідної реклами та зберігання ваших 
        уподобань на вашому комп'ютері.
        Файл cookie - це рядок інформації, який веб-сайт зберігає на комп’ютері відвідувача, і який браузер відвідувача 
        надає веб-сайту щоразу, коли відвідувач повертається. Alfa використовує файли cookie, щоб допомогти Alfa 
        ідентифікувати та відстежувати відвідувачів, використання ними https://alfa.com.ua та налаштування доступу до 
        веб-сайту. Відвідувачі Alfa, які не бажають розміщувати на своїх комп’ютерах файли cookie, повинні налаштувати 
        браузери на відмову від використання cookies перед використанням веб-сайтів Alfa, з недоліком того, що певні 
        функції веб-сайтів Alfa можуть не працювати належним чином без допомоги cookies.
        Продовжуючи навігацію на нашому веб-сайті, не змінюючи налаштувань файлів cookie, ви цим підтверджуєте та 
        погоджуєтесь на використання Alfa файлів cookie.

    </div>
    <h2 class=text style="top: 1460px;">5. Зміни в політиці конфіденційності</h2>
    <div class=text style="top: 1530px;">
        Хоча більшість змін, ймовірно, будуть незначними, Alfa може час від часу змінювати свою Політику конфіденційності 
        на власний розсуд. Alfa закликає відвідувачів часто перевіряти цю сторінку на будь-які зміни до її Політики 
        конфіденційності. Ваше подальше використання цього веб-сайту після будь-яких змін у цій Політиці конфіденційності 
        означає, що ви приймаєте такі зміни.
    </div>
    <h2 class=text style="top: 1610px;">6. Контактна інформація та кредит</h2>
    <div class=text style="top: 1680px;">
        Ця політика конфіденційності була створена на генераторі політики конфіденційності privacyterms.io . Якщо у вас виникли 
        запитання щодо нашої Політики конфіденційності, будь ласка, зв'яжіться з нами електронною поштою або телефоном .
    </div>

</div>