<div>
    <h1 id="help">Потрібна допомога?</h1>
    <i id="pen" class="fa fa-edit"></i>
</div>
<div>
    <p id="h2">Виникли запитання або хочете повідомити про технічні проблеми?</p>
</div>
<div id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.1201212704377!2d24.019993315128673!3d49.840200439028585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add717532da69%3A0xf0cb97b8441ff1fe!2z
        0LLRg9C70LjRhtGPINCj0L3RltCy0LXRgNGB0LjRgtC10YLRgdGM0LrQsCwgMSwg0JvRjNCy0ZbQsiwg0JvRjNCy0ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA3OTAwMA!5e0!3m2!1suk!2sua!4v1617838379409!5m2!1suk!2sua" width="498" 
        height="498" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy">
    </iframe>
    <div id="end-ofpage"></div>
</div>

<form class="contact-form">
    <input id="enter-email" class="box" type="email" name="email" placeholder="   Ваш email" >
    <input id="enter-fullname" class="box" type="text" name="fullname" placeholder="   Як до вас звертатись?" >
    <input id="questions" class="box" type="text" name="questions" placeholder="   Ваше питання..." >

    <button class="buttons" id="send" type="button">Надіслати</button>
    <button class="buttons" id="back" type="button">Назад</button>
    
</form>