<header>
  <div class="container">
    <div class="logo">
      <div class="logo-img">
        <img src="../../assets/logo.png" alt="Logo">
      </div>
      <h2 class="logo-title">Alpha</h2>
    </div>
    <div>
      <nav class="main-menu">
        <ul>
          <li class="menu-trigger"><span><i class="fa fa-bars"></i></span>
            <ul>
              <li><span routerLink="/">Login</span></li>
              <li><span routerLink="/registration">Registration</span></li>
              <li><span routerLink="/">Sign out</span></li>
              <li><span routerLink="/contacts">Contacts</span></li>
              <li><span routerLink="/forgot-password">Forgot-password</span></li>
              <li><span routerLink="/politics">Politics</span></li>
              <li><span routerLink="/about-us">About us</span></li>


              <!-- Add your pages with routes here -->
              <!-- To add routes go in app-routing.module.ts add path-->
              <!-- Create li>span with routerLink="/your-path-name" -->
              <!-- Then delete this coments -->

            </ul>        
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>