<header>
  <div class="container">
    <div class="logo">
      <div class="logo-img">
        <img src="../../assets/logo.png" alt="Logo">
      </div>
      <h2 class="logo-title">Alpha</h2>
    </div>
    <div>
      <nav class="main-menu">
        <ul>
          <li class="menu-trigger"><span><i class="fa fa-bars"></i></span>
            <!-- First Tier Drop Down -->
            <ul>
              <li><span routerLink="/">Login</span></li>
              <li><span routerLink="/registration">Registration</span></li>
              <li><span routerLink="/">Sign out</span></li>
            </ul>        
          </li>
        </ul>
      </nav>
    </div>
    
  </div>
</header>